/* 
	Title:		Master styles for screen media
*/

/* reset styles thanks to Simplebits.com
--------------------------------------------- */
	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	}
a {
	text-decoration: none;
}


	
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
	}
body {
	line-height: 1;
	font-family: "freight-sans-pro",sans-serif;
	}
ol, ul {
	list-style: none;
	}
blockquote, q {
	quotes: none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
img {
	width:100%;
}

/* Basic Layout */

.bgone {
	background-image: url(../bg-img/bg01.jpg);
	background-size:100%;
	width:100%;
	height:100%;
}
.bgtwo {
	background-image: url(../bg-img/bg-explore.jpg);
	background-size:100%;
	width:100%;
	height:100%;
}
.bgblue {
	background-color:#2469b3;
}
.logo {
    position: fixed;    
    width:150px;
    left:50%;
    top:0;
    margin-left:-75px;
    margin-top:0px;
	
	img {
		width:100%;
	}
}
.content {
	padding:0px;
	margin:0px;
	overflow: auto;
}
.content h1 {
		text-align: center;
		margin-top: 100px;
		font-size: 1.25em;
		}
.content h2 {
		text-align: center;
		margin: 0.75em 1.0em 0em 1.0em;
		font-size: 1.00em;
		}
.boats {
	width:184px;
	position: absolute;    
    left:50%;
    top:0;
    margin-left:-62px;
    overflow: auto;
}
.btnss {
    position: fixed;    
    width:260px;
    left:50%;
    top:0;
    margin-left:-130px;
    margin-top:380px;
    overflow: auto;
}
.btns {
    position: fixed;    
    width:140px;
    left:50%;
    top:0;
    margin-left:-70px;
    margin-top:420px;
    overflow: auto;
}
.btn {
	width:106px;
	height:16px;
	margin:4px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	text-align: center;
	padding:8px 8px 6px 8px;
	font-size: .85em;
	float:left;
}
.blu {
	background-color: #388ccb;
	color:white;
}
.yel {
	background-color: #fdd53f;
	color:#314955;
}
/* Typography */

h1 {
	color:#FED43F;
	font-family: "freight-sans-pro",sans-serif;
	font-weight: normal;
	padding:0px;
	margin:0px;
}
h2 {
	color:#FFFFFF;
	font-family: "freight-sans-pro",sans-serif;
	font-weight: normal;
	padding:0px;
	margin:0px;
}
h3 {
	color:#FED43F;
	text-align: center;
	font-family: "freight-sans-pro",sans-serif;
	font-weight: normal;
	font-size: 1.25em;
	padding:0px;
	margin:0px;
}
p {
	color:#FFFFFF;
	text-align: center;
	font-family: "freight-sans-pro",sans-serif;
	font-weight: normal;
	font-size: 1.0em;
	padding:0px;
	margin:0px;
}