


/* Basic Layout */

.bgone {
	background-image: url(../bg-img/bg01.jpg);
	width:100%;
}
.logo {
	position: fixed;
}
.logo img {
	margin-left:170px;
}
.content {
	padding:150px 0px 0px 0px;
}
.content h1 {
	text-align: center;
	margin:60px 0px 0px 0px;
	font-size: 1.85em;
}
.btns {
	width:236px;
	position: fixed;
	left:200;
	top:800;
}
.btn {
	width:236px;
	height:56px;
	margin:12px 0px 0px 0px;
}	
.blu {
	background-image: url(../bg-img/btn-blu.png);
}
.yel {
	background-image: url(../bg-img/btn-yel.png);
}


/* Typography */

h1 {
	color:#FED43F;
	font-family: "freight-sans-pro",sans-serif;
}